<article
    id="item--{{ page }}-{{ loop.index }}"
    data-live-ignore
    class="result-flashcard {{ flashcard.result.value }}"
>

    <div class="side-wrapper">
        <p>{{ flashcard.front }}</p>
    </div>

    <div class="side-wrapper">

        {% if flashcard.imageType == 'gif' %}
            <video src="{{ flashcard.back }}" controls muted loop class="media-content"></video>
        {% else %}
            <img src="{{ flashcard.back }}" alt="{{ flashcard.front }}" class="media-content">
        {% endif %}

    </div>

</article>