<article
    id="item--{{ page }}-{{ loop.index }}"
    data-live-ignore
    class="result-flashcard {{ flashcard.result.value }}"
>

    <div class="side-wrapper">
        <p>{{ flashcard.front }}</p>
    </div>

    <div class="side-wrapper">

        {% if flashcard.imageType == "gif" %}
            <video src="{{ flashcard.back }}" controls muted loop class="media-content"></video>
        {% elseif flashcard.imageType == "image" %}
            <figure class="result-flashcard-image-wrapper">
                <img src="{{ flashcard.back }}" alt="{{ flashcard.front }}">
                <figcaption>
                    {{ include("partials/_unsplash_attribution_paragraph.html.twig", {
                        authorName: flashcard.authorName,
                        authorProfileUrl: flashcard.authorProfileUrl
                    }) }}
                </figcaption>
            </figure>
        {% endif %}

    </div>

</article>