{% extends 'base.html.twig' %}

{% set flashcardItemWrapper = "flashcard-item" %}

{% block title %}Deck form{% endblock %}

{% block body %}

    <section class="deck-form">
    <div class="container">
        {{ form_start(form, {'attr': {
            'novalidate': 'novalidate'
        }}) }}
        <div {{ stimulus_controller('ajax-images', 
        {
            'imagesUrl': path("app_flashcard"),
            'index': form.flashcards|length > 0 ? form.flashcards|last.vars.name + 1 : 0,
            'maxFlashcardsInDeck': constant('App\\Controller\\DeckController::MAX_FLASHCARDS_IN_DECK'),
            'defaultLanguage': form.lang.vars.choices|first.value

        },
        {
            'hidden': 'hidden',
            'errorMessage': 'error-message',
            'flashcardItemWrapper': flashcardItemWrapper,
            'backFieldWrapper': 'back-wrapper',
            'selectionGrid': 'selection-grid',
            'loadingSpinner': 'loading-spinner',
            'imageField': 'image-field',
            'imageRadioButton': 'img-radio-btn'
        }
       
        ) }}
            data-ajax-images-service-locales-value="{{ serviceLocalesMapping|json_encode|e('html_attr') }}"
            data-ajax-images-prototype-value="{{ form_widget(form.flashcards.vars.prototype)|e('html_attr') }}"

        >


            {{form_row(form.name)}}
            {{form_row(form.lang, {
                'attr': {
                    'data-action': 'change->ajax-images#selectLanguage',
                }
            })}}
  
            <ul class="flashcards-collection-container" {{ stimulus_target('ajax-images', 'collectionContainer') }}>
                {% for flashcardForm in form.flashcards %}
                    <li 
                        data-index="{{ loop.index0 }}"
                        class="{{ flashcardItemWrapper }}">
               
                            {{ form_row(flashcardForm.front) }}
        
                            <div class="split">
                                {{ form_row(flashcardForm.back) }}
                                {% if flashcardForm.vars.value.back is not null %}
                                    <img class="preview-flashcard-image" src="{{ flashcardForm.vars.value.back }}" alt="{{ flashcardForm.vars.value.front }}">
                                {% endif %}
                            </div>
                     

                            <div class="split">
                                {{ form_row(flashcardForm.searchGifs) }}
                                {{ form_row(flashcardForm.searchImages) }}
                            </div>

                            {{ form_row(flashcardForm.imageType) }}
                            
                            {{form_row(flashcardForm.deleteFlashcard)}}
                    </li>
                {% endfor %}
            </ul>

            <button 
                class="btn btn-success"
                type="button" 
                {{ stimulus_action('ajax-images', 'addFlashcard') }}
                {{ stimulus_target('ajax-images', 'addButton') }}
                >
                Add flashcard
            </button>
        </div>
    {{ form_end(form) }}
    </div>      
    </section>
    


{% endblock %}