{% extends 'base.html.twig' %}

{% set wrapperClassName = "flashcard-item" %}

{% block title %}Deck form{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {
        'novalidate': 'novalidate'
    }}) }}
        <div {{ stimulus_controller('ajax-images', {
            'imagesUrl': path("app_flashcard"),
            'index': form.flashcards|length > 0 ? form.flashcards|last.vars.name + 1 : 0,
            'prototype': form_widget(form.flashcards.vars.prototype)|raw,
            'wrapperClassName': wrapperClassName,
            'maxFlashcardsInDeck': constant('App\\Controller\\DeckController::MAX_FLASHCARDS_IN_DECK'),
            'serviceLocales': serviceLocalesMapping|json_encode|raw

        }) }}>

            {{form_row(form.name)}}
            {{form_row(form.lang, {
                'attr': {
                    'data-action': 'change->ajax-images#selectLanguage',
                }
            })}}
  
            <ul class="" {{ stimulus_target('ajax-images', 'collectionContainer') }}>
                {% for flashcardForm in form.flashcards %}
                    <li class="{{ wrapperClassName }}">
                     
                            <div class="split">
                                {{ form_row(flashcardForm.front) }}
        
                                {% if flashcardForm.vars.value.back is defined %}
                                    <img class="preview-flashcard-image" src="{{ flashcardForm.vars.value.back }}" alt="{{ flashcardForm.vars.value.front }}">
                                {% endif %}
                            </div>

                            {{ form_row(flashcardForm.back) }}

                            <div class="split">
                                {{ form_row(flashcardForm.searchGifs) }}
                                {{ form_row(flashcardForm.searchImages) }}
                            </div>

                            {{ form_row(flashcardForm.imageType) }}
                            
                            {{form_row(flashcardForm.deleteFlashcard)}}
                    </li>
                {% endfor %}
            </ul>

            <button 
                class="btn btn-success"
                type="button" 
                {{ stimulus_action('ajax-images', 'addFlashcard') }}
                {{ stimulus_target('ajax-images', 'addButton') }}
                >
               Add flashcard
            </button>

        </div>

    {{ form_end(form) }}


{% endblock %}