{% extends 'base.html.twig' %}

{% set flashcardItemWrapper = "flashcard-item" %}

{% block title %}Deck form{% endblock %}

{% block body %}

<section class="deck-form">
    <div class="container">
        {{ form_start(form, {'attr': {
            'novalidate': 'novalidate',
            'class': 'deck-create-form'
        }}) }}

        <div class="form-inner flow" {{ stimulus_controller('ajax-images', 
        {
            'imagesUrl': path("app_flashcard"),
            'index': form.flashcards|length > 0 ? form.flashcards|last.vars.name + 1 : 0,
            'maxFlashcardsInDeck': constant('App\\Controller\\DeckController::MAX_FLASHCARDS_IN_DECK'),
            'defaultLanguage': form.lang.vars.choices|first.value,
            "csrfToken": csrf_token("get_images")
        },
        {
            'hidden': 'd-none',
            'errorMessage': 'error-message',
            'flashcardItemWrapper': flashcardItemWrapper,
            'backFieldWrapper': 'back-wrapper',
            'selectionGrid': 'selection-grid',
            'loadingSpinner': 'loading-spinner',
            'imageField': 'image-field',
            'imageRadioButton': 'img-radio-btn'
        }
       
        ) }}
            data-ajax-images-service-locales-value="{{ serviceLocalesMapping|json_encode|e('html_attr') }}"
            data-ajax-images-prototype-value="{{ include('partials/_flashcard_prototype.html.twig', {prototype: form.flashcards.vars.prototype, is_prototype: true})|e('html_attr') }}"

        >
        {{form_row(form.name, {
                "row_attr": {
                    "class": "form-group"
                }
            })}}
            {{form_row(form.lang, {
                'attr': {
                    'data-action': 'change->ajax-images#selectLanguage',
                }
            })}}

            {{ form_errors(form.flashcards) }}

            <ul class="flashcards-collection-container flow" {{ stimulus_target('ajax-images', 'collectionContainer') }}>
                {% for flashcardForm in form.flashcards %}
                    <li 
                        data-index="{{ loop.index0 }}"
                        class="{{ flashcardItemWrapper }} flow">
               
                        {{ include('partials/_flashcard_prototype.html.twig', {prototype: flashcardForm, is_prototype: false}) }}

                    </li>
                {% endfor %}
            </ul>

            <button 
                class="button"
                type="button" 
                {{ stimulus_action('ajax-images', 'addFlashcard') }}
                {{ stimulus_target('ajax-images', 'addButton') }}
                >
                Add flashcard
            </button>

            {{ form_row(form.submit, {
                "attr": {
                    "class": "button",
                    "data-type": "accent"
                }
            }) }}

            {{ form_row(form._token) }}
        </div>
        {{ form_end(form, {'render_rest': false}) }}
    </div>      
</section>
    


{% endblock %}