{% extends 'base.html.twig' %}

{% block title %}Deck details{% endblock %}

{% block body %}


    <div class="flashcard-details | flow">
        <div class="split">
            <h1>Deck name: {{deck.name}}</h1>
            <a href="{{ path('app_deck_practice', {id: deck.id}) }}">Practice deck</a>
        </div>
     
        {% for flashcard in flashcards %}
            <div class="flashcard {{ flashcard.result.value }}">
                <h1>{{ flashcard.front }}</h1>
                <img src="{{ flashcard.back }}" alt="{{ flashcard.front }}">
            </div>
        {% endfor %}
    </div>

    
{% endblock %}