<div class="decks-column" {{ attributes }}>

    <div id="results" style="display: flex; gap: 1rem; flex-direction: column;" class="">

        {% if page > 0 %}
            <div class="ProductGrid_page" id="page--{{ page - 1 }}" data-live-ignore="true"></div>
        {% endif %}

        <div class="decks-wrapper" id="page--{{ page }}" data-live-ignore="true">
            {% for deck in this.decks %}
                <article class="deck | flow">
                    <h2>{{deck.name}}</h2>
                    <p>Number of cards: {{deck.flashcards.count}}</p>
                    
                    <div class="links">
                        <a href="{{ path('app_deck_results', { id: deck.id }) }}">Check deck results</a>
        
                        <a href="{{ path('app_deck_create', { id: deck.id }) }}">Edit deck</a>
            
                        <a href="{{ path('app_deck_practice', { id: deck.id })  }}">Practice deck</a>
                    </div>
       
                </article>
            {% endfor %}
        </div>

        <div>
            {% if this.hasMore %}
                <button data-action="live#action" data-live-action-param="more">
                    Load More
                </button>
            {% endif %}
        </div>

    </div>

</div>
