{% set per_page = constant('App\\Repository\\FlashcardRepository::PER_PAGE') %}
<div
    class="wrapper | flow"
    {{ attributes.defaults(stimulus_controller('appear')) }}
    >
    {% if page > 0 %}
        <article id="item--{{ page - 1 }}-{{ per_page }}"></article>
    {% endif %}

    {% for flashcard in this.items %}
        {{ include('partials/_result_flashcard.html.twig') }}
    {% endfor %}

    {% if this.hasMore %}
        {% for i in 1..per_page %}
            <article
                id="item--{{ page + 1 }}-{{ i }}"
                
                {% if loop.first %}
                    data-appear-target="loader"
                    data-action="appear->live#action"
                    data-live-action-param="debounce(750)|more"
                {% endif %}
            >
            </article>
        {% endfor %}
        <span class="loading-spinner"></span>
    {% endif %}
</div>

